---
layout: default
title: I nostri prodotti
section_id: portfolio
works:
  - image: images/@stock/work-1.jpg
    title: Beautiful Girl
    link_to: portfolio-item.html
    klass: graphic-design
    desc: Design &amp; Development
  - image: images/@stock/work-2.jpg
    title: Beautiful Girl
    link_to: portfolio-item.html
    klass: web-design print
    desc: Design &amp; Development
  - image: images/@stock/work-3.jpg
    title: Beautiful Girl
    link_to: portfolio-item.html
    klass: brand
    desc: Design &amp; Development
  - image: images/@stock/work-4.jpg
    title: Beautiful Girl
    link_to: portfolio-item.html
    klass: development
    desc: Design &amp; Development
  - image: images/@stock/work-5.jpg
    title: Beautiful Girl
    link_to: portfolio-item.html
    klass: print brand
    desc: Design &amp; Development
  - image: images/@stock/work-6.jpg
    title: Beautiful Girl
    link_to: portfolio-item.html
    klass: web-design
    desc: Design &amp; Development
  - image: images/@stock/work-7.jpg
    title: Beautiful Girl
    link_to: portfolio-item.html
    klass: web-design
    desc: Design &amp; Development
  - image: images/@stock/work-8.jpg
    title: Beautiful Girl
    link_to: portfolio-item.html
    klass: graphic-design
    desc: Design &amp; Development
  - image: images/@stock/work-1.jpg
    title: Beautiful Girl
    link_to: portfolio-item.html
    klass: development print
    desc: Design &amp; Development
  - image: images/@stock/work-2.jpg
    title: Beautiful Girl
    link_to: portfolio-item.html
    klass: brand
    desc: Design &amp; Development
  - image: images/@stock/work-3.jpg
    title: Beautiful Girl
    link_to: portfolio-item.html
    klass: web-design
    desc: Design &amp; Development
  - image: images/@stock/work-4.jpg
    title: Beautiful Girl
    link_to: portfolio-item.html
    klass: print
    desc: Design &amp; Development
  - image: images/@stock/work-5.jpg
    title: Beautiful Girl
    link_to: portfolio-item.html
    klass: graphic-design
    desc: Design &amp; Development
  - image: images/@stock/work-6.jpg
    title: Beautiful Girl
    link_to: portfolio-item.html
    klass: development
    desc: Design &amp; Development
  - image: images/@stock/work-7.jpg
    title: Beautiful Girl
    link_to: portfolio-item.html
    klass: print
    desc: Design &amp; Development
  - image: images/@stock/work-8.jpg
    title: Beautiful Girl
    link_to: portfolio-item.html
    klass: graphic-design
    desc: Design &amp; Development
---


<div class='full parallax' style='background-image: url(images/bg/clementine10_header.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="I nostri prodotti" tagline="Le migliori clementine pugliesi di Palagiano" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class='full'>
  <div class='row'>
    <div class='medium-6 columns'>
      <img class="fadeinleft" alt="" src="images/logo-puglia_small.png" />
      <div class='three spacing'></div>
    </div>
    <div class='medium-6 columns'>
      <h3>Composizione nutritiva</h3>
      <ul class='info'>
      <li>Acqua / Water 80,3 (g) </li>
      <li>Proteine / Protein 0,5 (g) </li> 
      <li>Glucidi / Carbohydrates 15,6 (g) <li>
      <li>Lipidi / Fat 0,1 (g) <li>
      <li>Energia / Energy 61 (Kcal)</li>
      <li>Sodio / Sodium 1 (mg)</li>
      <li>Potassio / Potassium 192 (mg)</li>
      <li>Ferro / Iron 0,4 (mg)</li>
      <li>Calcio / Calcium 27 (mg)</li>
      <li>Fosforo / Phoshorus 4 (mg)</li>
      <li>Vitamina C / Vitamine C 6 (mg)</li>
      <li>Fibre alimentari / Fiber 1,5 (g)</li>
      </ul>
    </div>
  </div>
</div>


<div class='full'>
  <div class='row'>
    <div class='mod modGallery'>
      <!--
      <div class='gallery-nav'>
        <ul>
          <li class='current'>
            <a data-cat='all' href='#'>All</a>
          </li>
          <li>
            <a data-cat='graphic-design' href='#'>Graphic Design</a>
          </li>
          <li>
            <a data-cat='web-design' href='#'>Web Design</a>
          </li>
          <li>
            <a data-cat='brand' href='#'>Brand</a>
          </li>
          <li>
            <a data-cat='development' href='#'>Development</a>
          </li>
          <li>
            <a data-cat='print' href='#'>Print</a>
          </li>
        </ul>
      </div>
      -->
      <ul class='gallery large-block-grid-4 medium-block-grid-3 small-block-grid-2' id="instagram_portfolio">

      <!--
        {% for work in page.works %}
          <li class="{{ work.klass }}">
            <a href='{{ work.link_to }}'>
              <img alt="" src="{{ work.image }}" />
              <div class='overlay'>
                <div class='thumb-info'>
                  <h3>{{ work.title }}</h3>
                  <p>{{ work.desc }}</p>
                </div>
              </div>
            </a>
          </li>
        {% endfor %}
        -->

      </ul>

    </div>
  </div>

  <div class='four spacing'></div>
</div>