<div class='comments-wrapper'>
      	<div class="fb-share-button" data-href="{{ post.url }}" data-text="{{ post.title }}" data-layout="button_count" align="center">
</div>
<div class='one spacing'></div>
<div class='comments-wrapper'>
 		<a href="https://twitter.com/intent/tweet" class="twitter-share-button" data-related="unimpegno, simuovelacitta" data-text="{{ post.title }}" data-hashtags="unimpegnoincomune" data-via="unimpegno" data-url="{{post.url}}" align="center">Tweet</a> 
 		<script src="{{ "/javascripts/lib/twitter.js" | prepend: site.baseurl }}" type="text/javascript"></script>
</div>
<div class='two spacing'></div>

