<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div id='main' role='main'>
      {{ content }}
    </div>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- La Gioia Digitale -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8570227514171301"
     data-ad-slot="9637123673"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

    {% include footer.html %}

  </body>

</html>
